@-webkit-keyframes chevronAnimation {
  0%, 100% {
    -webkit-transform: translate(0, 0) scale(1, 1);
    transform: translate(0, 0) scale(1, 1)
  }
  50% {
    -webkit-transform: translate(0, 5px) scale(.8, .8);
    transform: translate(0, 5px) scale(.8, .8)
  }
}

@-moz-keyframes chevronAnimation {
  0%, 100% {
    -moz-transform: translate(0, 0) scale(1, 1);
    transform: translate(0, 0) scale(1, 1)
  }
  50% {
    -moz-transform: translate(0, 5px) scale(.8, .8);
    transform: translate(0, 5px) scale(.8, .8)
  }
}

@-o-keyframes chevronAnimation {
  0%, 100% {
    -o-transform: translate(0, 0) scale(1, 1);
    transform: translate(0, 0) scale(1, 1)
  }
  50% {
    -o-transform: translate(0, 5px) scale(.8, .8);
    transform: translate(0, 5px) scale(.8, .8)
  }
}

@keyframes chevronAnimation {
  0%, 100% {
    -webkit-transform: translate(0, 0) scale(1, 1);
    -moz-transform: translate(0, 0) scale(1, 1);
    -o-transform: translate(0, 0) scale(1, 1);
    transform: translate(0, 0) scale(1, 1)
  }
  50% {
    -webkit-transform: translate(0, 5px) scale(.8, .8);
    -moz-transform: translate(0, 5px) scale(.8, .8);
    -o-transform: translate(0, 5px) scale(.8, .8);
    transform: translate(0, 5px) scale(.8, .8)
  }
}

.animation {
  -webkit-transition-property:  transform, opacity;
  -moz-transition-property:  transform, opacity;
  -ms-transition-property:  transform, opacity;
  -o-transition-property:  transform, opacity;
  transition-property:  transform, opacity;
  transition-duration: .5s;
  -webkit-transition-duration: .5s;
  -moz-transition-duration: .5s;
  -ms-transition-duration: .5s;
  -o-transition-duration: .5s;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -ms-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transform: translate(0, 10px);
  -moz-transform: translate(0, 10px);
  -ms-transform: translate(0, 10px);
  -o-transform: translate(0, 10px);
  transform: translate(0, 10px);
  opacity: 0;

  //delay
  &.animation-delay-2 {
    -webkit-transition-delay: .2s;
    -moz-transition-delay: .2s;
    -ms-transition-delay: .2s;
    -o-transition-delay: .2s;
    transition-delay: .2s;
  }
  &.animation-delay-3 {
    -webkit-transition-delay: .4s;
    -moz-transition-delay: .4s;
    -ms-transition-delay: .4s;
    -o-transition-delay: .4s;
    transition-delay: .4s;
  }
  &.animation-delay-4 {
    -webkit-transition-delay: .6s;
    -moz-transition-delay: .6s;
    -ms-transition-delay: .6s;
    -o-transition-delay: .6s;
    transition-delay: .6s;
  }
  &.animation-delay-5 {
    -webkit-transition-delay: .8s;
    -moz-transition-delay: .8s;
    -ms-transition-delay: .8s;
    -o-transition-delay: .8s;
    transition-delay: .8s;
  }
}
.from-top-in {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1;
}
.from-bottom-in {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1;
}
.from-left-in {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1;
}
.from-right-in {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1;
}
.scale-up-in {
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
  opacity: 1;
}
.scale-down-in {
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
  opacity: 1;
}
