.footer {
  background-color: #f5f5f5;
  //공통
  .footer__inner {
    overflow: hidden;
    width: 1200px;
    margin: 0 auto;
    padding: 1.5rem 2rem 3rem 1.5rem;
  }
  .ft-content__tit {
    margin-bottom: 1rem;
    font-weight: 400;
    font-size: .85rem;
  }
  * {
    color: #ababab;
    font-size: .86rem;
    font-weight: 200;
    line-height: 1.7;
  }
  //풋터 div 공통
  .ft-content {
    display: inline-block;
    float: left;
  }

  //로고 및 회사정보
  .info__content {
    width: 31%;
    margin-right: 3%;
    //로고
    .ft-logo {
      margin-bottom: .85rem;
    }
    //회사정보
    .company-info__area {
      overflow: hidden;
      li {
        display: inline-block;
        float: left;

        &:nth-child(1) {
          //구분선
          &:after {
            display: inline-block;
            content: '';
            width: 1px;
            height: 10px;
            margin: 1px 5px;
            background-color: #ababab;
          }
        }
      }
    }
    //copyright
    .copyright {
      margin: .9rem 0 2.6rem;
      color: #c1c1c1;
      clear: both;
    }

    //약관 및 정책
    .policy__area {
      overflow: hidden;
      li {
        display: inline-block;
        float: left;
        //구분선
        &:after {
          display: inline-block;
          content: '';
          width: 1px;
          height: 10px;
          margin: 1px 10px;
          background-color: #ababab;
        }
        //마지막 구분선 삭제
        &:nth-last-child(1) {
          &:after {
            content: none;
          }
        }
      }
    }

  }
  //CONTACT US
  .contact__content {
    width: 38%;
    margin-top: 4px;
  }
  //패밀리사이트 및 SNS
  .link__content {
    width: 28%;
    margin-top: 4px;
    //패밀리사이트
    .family-site__list {
      .dropdown {
        border: none;
        border-radius: 5px;
        background-color: #ebebeb;
        //아이콘 위치
        .icon {
          top: 12px;
          right: 1.5rem;
        }
        //아이콘 이미지
        &.icon:before, > .dropdown.icon:before {
          content: url("/starpay/assets/img/common/icon_famliy_site_arrow.png");
        }
      }
    }
    //SNS 바로가기
    .sns-follow {
      margin-top: 1.4rem;
      .follow-link {
        //공통
        .follow-link__item {
          display: inline-block;
          float: left;
          width: 43px;
          height: 43px;
          margin-left: 1rem;
          border-radius: 50%;
          background-color: #ebebeb;
          background-repeat: $nor;
          background-position: $center;
          a {
            display: inline-block;
            width: 43px;
            height: 43px;
            text-indent: -9999em;
          }
        }
        //블로그
        .blog {
          margin-left: 0;
          background-image: url("/starpay/assets/img/common/icon_follow_blog.png");
        }
        //페이스북
        .facebook {
          background-image: url("/starpay/assets/img/common/icon_follow_facebook.png");
        }
        //트위터
        .twitter {
          background-image: url("/starpay/assets/img/common/icon_follow_twitter.png");
        }
        //카카오
        .kakao {
          background-image: url("/starpay/assets/img/common/icon_follow_kakao.png");
        }
        //인스타그램
        .instagram {
          background-image: url("/starpay/assets/img/common/icon_follow_instagram.png");
        }
      }
    }
  }
}